#backgroundimage {
	background: url(${pageContext.servletContext.contextPath}/resources/images/spotifywall.jpg);
}

.btn-space{
	margin-right: 40px;
}

img{
	position: absolute;
	z-index: -1;
	height: 100	%;
	width: 100%;
}

#createnewuser{
	display: none;
}

.form-group{
	margin-bottom: 15px;
	padding : 3%;
}